* {
    margin: 0;
    padding: 0;
    background-color: rgb(18, 35, 129);
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.container,
.atores {
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding: 80px;
    color: #000000;
    margin-left: 90px;
    margin-right: 90px;
}

.container p {
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.664);
    color: #fff;
    border-radius: 20px;
}

ul {
    list-style: none;
}

.atores {
    text-align: center;
    padding-top: 10px;
}

.image-container {
    display: flex; 
    justify-content: space-between; 
    margin: 10px 0;
    padding-top: 40px;
}

.image-container img {
    max-width: 100%; 
    height: 300px;
    width: 500px;
    border-radius: 25px;
}

.atores h2 {
    padding-bottom: 40px;
}

.zoom-image {
    transition: transform 0.3s ease;
}

.zoom-image:hover {
    transform: scale(1.03);
}

h2 {
    font-family: 'Bangers', cursive;
}

figcaption {
    font-family: 'Bangers', cursive;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.11);
    border-style: double;
}

@media (max-width: 768px) {

    header {
        height: 350px;
    }

    .container,
    .atores {
        font-size: 18px; 
        padding: 20px; 
        margin-left: 20px; 
        margin-right: 20px; 
    }
    
    .image-container {
        display: block; 
        text-align: center;
    }
    
    .image-container img {
        max-width: 100%; 
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}